    * {
        /*padding: 0;
    margin: 0;*/
        box-sizing: border-box;
    }
    
    body {}
    
    .container {
        display: flex;
        align-items: center;
    }
    
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 5em; */
    }