@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,500;0,600;1,100;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", "Raleway", "Tahoma";
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    width: 70%;
    display: grid;
    gap: 1rem;
    /* grid-column: span 2 auto; */
    padding: 2rem;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.intro {
    font-family: "Raleway";
}

.intro h2 {
    font-family: "Oswald";
    text-transform: uppercase;
}

.images,
img {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 3rem;
    width: 100%;
    height: auto;
    max-width: 100%;
}

img:nth-child(even) {
    fm: ;
}

span.titles {
    position: relative;
    left: 3.5rem;
    top: 3.2rem;
    float: right;
    text-transform: uppercase;
    font-size: 1rem;
    transform: rotate(90deg);
}


/* .
    
    margin: 0 auto;
        width: 50%;
        display: grid;
        gap: 1rem;
        border: 1px solid #1b1c3a; 
    
    grid-column: span 2 auto;
    padding: 2rem;
    */